<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="ServiceName" value="avl-littlefs"/>
    <add key="ServiceDescription" value="avl-littlefs"/>
    <add key="StartCmd" value="docker run -d --name avl-littlefs -it -p 8088:8088 docker-registry.innovation.os/base/littlefs:latest /bin/openresty -p /opt/littlefs/ -g &quot;daemon off;&quot;"/>
    <add key="StopCmd" value="docker stop avl-littlefs &amp;&amp; docker rm avl-littlefs"/>
  </appSettings>
</configuration>
